#main-menu
{
	display: none;
}
.ui-menu 
{
	width:				218px;
	font-family:		Arial;
	font-size:			12px;
	color:				#FFFFFF;
	background:			rgba(160,160,160, 0.6);
	border-radius:		0px;
	-moz-border-radius:	0px;
	border: 			none;
	padding:			0px;
	margin:				0px;
	padding-top:		14px;
	padding-bottom:		14px;
}
.ui-menu .ui-menu-item
 {
	padding:		0px;
	margin: 		0px;
	margin-bottom:	4px;
	height:			22px;
}
.ui-menu .ui-menu-item a
 {
	font-weight:	bold;
	margin:			0px;
	padding:		0px;
	padding-left:	26px;
	padding-top:	2px;
	height:			20px;
	vertical-align: center;
	
}

.ui-menu .ui-menu-item a.ui-state-focus 
{
	font-weight:		bold;
	margin: 			0px;
	background:			#E1E1E1;
	color:				#1E1E1E;
	border:				none;
	border-radius:		0px;
	-moz-border-radius:	0px;
}

.ui-menu .ui-menu-divider 
{
	border:			none;
	background:		none;
	height:			8px;
}

.ui-menu .ui-menu-icon  {
	background: red;	/*waiting for the icon*/
	margin-top: 7px;
}
.ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active {
	background:		red;
	color:			#1E1E1E;
	border:			none;
	margin: 		0px;
	font-weight:	bolder;
}
