.drawing-area
{
	display:				block;
	position:				absolute;
	top:					0px;
	left:					0px;
	width:					100%;
	height:					100%;
	overflow:				hidden;
	background: 			url("../imgs/grid_background.png");
}
.drawing-area > .draggable
{
	position: 		absolute;
	top:			-50%;
	left:			-50%;
	width: 			500px;
	height: 		500px;
	padding:		0px;
	margin:			0px;
}
.drawing-area > .draggable.ui-draggable-dragging
{
	cursor:			move;
}

.drawing-area > .draggable > span
{
	display:		block;
	position:		absolute;
	top:			50%;
	left:			50%;
	padding-left: 	4px;
	padding-top:	4px;
	text-align:		right;
	color:			#7C7C7C;
	font-family:	Arial;
	font-size:		8px;
	cursor:			default;
}
.horizontal-line
{
	position:		absolute;
	top:			50%;
	left:			50%;
	height:			1px;
	background:		#7c7c7c
}
.vertical-line
{
	position: 		absolute;
	top:			50%;
	left:			50%;
	width: 			1px;
	background:		#7c7c7c
}
.hotspot
{
	position: 		absolute;
	top:			50%;
	left:			50%;
	width:			5px;
	height:			5px;
	background:		#7c7c7c;
	margin-top:		-2px;
	margin-left:	-3px;
}
.sprite
{
	position:	absolute;
	cursor:		move;
	margin:		-1px;
	padding:	0px;
	border:		1px solid rgba(0,0,0,0);
	width:		0px;
	height:		0px;
}
.sprite > img
{
	width:	100%;
	height:	100%;
}
.onionskin
{
	position:	absolute;
	margin:		0px;
	padding:	0px;
	width:		0px;
	height:		0px;
	opacity:	0.2;
}
.onionskin > img
{
	width:	100%;
	height:	100%;
}
.sprite.borderOn
{
	border:				1px solid #d7d7d7;
}
.sprite.ui-draggable-dragging, .sprite.key-moving
{
	opacity: 0.35;
}