<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="scrollable_area.html">
<link rel="import" href="draggable_element.html">
<link rel="import" href="ge_display.html">
<link rel="import" href="ge_sprite.html">

<polymer-element name="ge-sprite-view">
  <template>
    <style>
      :host {
        display: block;
        border: 1px solid green;
        position: relative;
      }

      :host div, :host scrollable-area {
        width: 100%;
        height: 100%;
      }

      .ruler {
        position: absolute;
        width: 0px;
        height: 0px;
      }

      .ruler.line-h {
        left: 0%;
        width: 100%;
        border-top: {{scale}}px solid;
      }

      .ruler.line-v {
        top: 0%;
        height: 100%;
        border-left: {{scale}}px solid;
      }

      .ruler.hot-spot {
        margin: -{{2 * scale}}px 0px 0px -{{2 * scale}}px;
        border-style: solid;
        border-width: {{3 * scale}}px {{2 * scale}}px {{2 * scale}}px {{3 * scale}}px;
      }

      .ruler.info {
        font-size: {{8 * scale}}px;
        padding: {{4 * scale}}px;
      }
    </style>
    <div on-scroll="{{areaScroll}}" on-drag="{{spriteDrag}}">
      <scrollable-area>
        <div class="ruler line-h"></div>
        <div class="ruler line-v"></div>
        <div class="ruler hot-spot"></div>
        <span class ="ruler info">BASELINE</span>
        <ge-display>
          <ge-sprite scale="{{scale}}" on-change="{{updateDraggable}}"></ge-sprite>
        </ge-display>
        <draggable-element step="{{scale}}" on-focus="{{spriteDragOn}}" on-blur="{{spriteDragOff}}"></draggable-element>
      </scrollable-area>
    </div>
  </template>
  <script type="application/dart" src="ge_sprite_view.dart"></script>
</polymer-element>
