.dialog {
  background: #4d4d4d;
  border: 2px solid #252525;
  color: black;
  font-family: Arial;
  font-size: 14px;
  padding: 14px;
  -webkit-box-shadow: inset 1px 0px 0 #5D5D5D, 2px 2px 6px #252525;
  -moz-box-shadow: inset 1px 0px 0 #5D5D5D, 2px 2px 6px #252525;
  box-shadow: inset 1px 0px 0 #5D5D5D, 2px 2px 6px #252525;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 0px;
  -moz-border-radius: 0px;
  border: none;
  background: #4d4d4d;
  -webkit-box-shadow: 0 1px 0 #5D5D5D inset, inset 1px 0px 0 #5D5D5D
    /*, 1px 1px 0 #5b5b5b*/;
  /*
}