input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
{
	-webkit-appearance:		none;
	margin: 				0;
}
input[type=number] , input[type=text] 
{
	padding-top:		2px;
	padding-bottom:		0px;
	padding-right:		8px;
	padding-left:		8px;
	margin:				0px;
	height:				15px;
	text-align:			right;
	font-family:		Arial;
	font-size:			11px;
	outline:			none;
	background:			#333333;
	color:				#f2f2f2;
	
	border:				1px solid rgb(29,29,29);
	-webkit-box-shadow:	1px 1px 0 #616161, inset 1px 2px 0 #313131, inset -1px 0 0 #313131;
	-moz-box-shadow:	1px 1px 0 #616161, inset 1px 2px 0 #313131, inset -1px 0 0 #313131;
	box-shadow:			1px 1px 0 #616161, inset 1px 2px 0 #313131, inset -1px 0 0 #313131;
}

.tab-options > .container
{
	display:		block;
	border:			1px solid #252525;
	padding-top:	1px;	
	padding-bottom:	10px;
	padding-left:	8px;
	padding-right:	6px;
	margin:			0px;
	margin-top:		5px;
	position:		relative;
}
.tab-options > .container > span
{
	display:	inline-block;
	margin:		0px;
	padding:	0px;
	width:		214px;
}
.tab-options > .container > span > input 
{
	width: 194px;
}
.tab-options > .container > span.split
{
	width: 104px;
}
.tab-options > .container > span.split > input 
{
	width: 84px;
}

.tab-options > .container > span.left
{
	float: 			left;
	margin-right:	6px;
}
.tab-options > .container > span.right
{
	margin: 0px;
}

label
{
	display:			block;
	margin:				0px;
	padding-left:		2px;
	padding-top:		10px;
	padding-bottom:		1px;
	
	font-family:		Arial;
	color:				#1b1b1b;
	font-size:			12px;
	font-weight:		600;
	
	text-shadow: 		0px 1px 0px #545454;
	letter-spacing:		-1px;
}
